.fll,
.float-left,
.pull-left {
  float: left !important;
}

.flr,
.float-right,
.pull-right {
  float: right !important;
}

.fln,
.float-none,
.pull-none {
  float: none !important;
}

.alignleft,
.al,
.alignright,
.ar {
  display: inline;
  margin-bottom: 1rem;
}

.alignleft,
.al {
  float: left;
  margin-right: 1.5em;
}

.alignright,
.ar {
  float: right;
  margin-left: 1.5em;
}

.aligncenter,
.ac {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.hidden {
  opacity: 0 !important;
  transition: .4s;
}

.invisible {
  visibility: hidden !important;
}

.col-2-4,
.col-sm-2-4,
.col-md-2-4,
.col-lg-2-4,
.col-xl-2-4 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-2-4 {
  flex: 0 0 20%;
  max-width: 20%;
}

.offset-2-4 {
  margin-left: 20%;
}

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

img {
  max-width: 100%;
  height: auto;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

h1 {
  font-size: 22px;
}

.page__header {
  padding: .5rem 0;
}

.page__footer {
  margin-top: 4rem;
}

.page__navigation {
  width: 100%;
  margin-bottom: 2rem;
}

.page__navigation .container {
  padding: 0 15px;
}

.page__navigation .navbar {
  z-index: 999;
  background: #fff;
  padding: 0;
  border-radius: 0;
}

.page__navigation .navbar .nav-link,
.page__navigation .navbar .nav-link:hover,
.page__navigation .navbar .nav-link:focus {
  text-decoration: none;
}

.page__navigation .navbar-toggler {
  padding: 0 10px;
  border: 0;
  border-radius: 0;
}

.sidebar__title {
  font-size: 18px;
}

.post__thmb {
  margin-right: 1rem;
}

@media (min-width: 576px) {
  .col-sm-2-4 {
    flex: 0 0 20%;
    max-width: 20%;
  }

  .offset-sm-2-4 {
    margin-left: 20%;
  }
}

@media screen and (min-width: 576.02px) {
  h1 {
    font-size: calc( 22px + 18 *
 (100vw - 576px) / 1104);
  }

  .sidebar__title {
    font-size: calc( 18px + 4 *
 (100vw - 576px) / 1104);
  }
}

@media (min-width: 768px) {
  .col-md-2-4 {
    flex: 0 0 20%;
    max-width: 20%;
  }

  .offset-md-2-4 {
    margin-left: 20%;
  }
}

@media (min-width: 992px) {
  .col-lg-2-4 {
    flex: 0 0 20%;
    max-width: 20%;
  }

  .offset-lg-2-4 {
    margin-left: 20%;
  }
}

@media screen and (min-width: 992.02px) {
  .sidebar__title {
    margin-top: 4.5rem;
  }
}

@media (min-width: 1200px) {
  .col-xl-2-4 {
    flex: 0 0 20%;
    max-width: 20%;
  }

  .offset-xl-2-4 {
    margin-left: 20%;
  }
}

@media (min-width: 1680px) {
  .col-hd-2-4 {
    flex: 0 0 20%;
    max-width: 20%;
  }

  .offset-hd-2-4 {
    margin-left: 20%;
  }
}

@media screen and (min-width: 1680.02px) {
  h1 {
    font-size: 40px;
  }

  .sidebar__title {
    font-size: 22px;
  }
}

@media screen and (max-width: 992px) {
  h1 {
    margin-top: 1.5rem;
    line-height: 1.5;
  }
}

@media screen and (max-width: 576px) {
  .post {
    flex-direction: column;
  }

  .post__thmb {
    margin: 0 auto .5rem;
  }
}