/*/
!/public_html/
/public_html/upload
# /public_html/upload/resize_cache/
# /public_html/upload/tmp/
# /public_html/upload/iblock/
# /public_html/upload/sale/
# /public_html/upload/uf/
/public_html/bitrix/*

/*.*
!.gitignore
!composer.json
!readme.md
