.idea
/*.txt
/*.html
~*.php
*.log
*.xml
/*.sql
*/_tmp
error_log
web.config
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
.vscode
ehthumbs.db
Thumbs.db
_config.yml
*.lock
*.restore

/*/
!/public_html/
/public_html/bitrix/
/public_html/upload/
!/public_html/upload/.htaccess
# /public_html/upload/resize_cache/
# /public_html/upload/tmp/
# /public_html/upload/iblock/
# /public_html/upload/sale/
# /public_html/upload/uf/

/*.*
!.gitignore
!composer.json
!readme.md
