.pagenav {
	display: flex;
	width: 66.6665%;
}
.pagenav-items {
	flex: 1 1 33.3332%;
	text-align: center;
}
.pagenav-summary {
	flex: 1 1 33.3332%;
	display: flex;
	flex-direction: row;
}
.pagenav-summary-label {
}
.page-summary-body {
}
.pagenav-summary-diff {
}
.pagenav-summary-full {
}
