.product-item {
	margin-bottom: 1rem;
}

.product-item__image + .product-item__image {
	display: none;
}

.product-item__image img {
	display: block;
	margin: 0 auto;
	height: 200px;
	object-fit: contain;
	object-position: center;
}

.product-item__title, .product-item__title a {
	font-size: 1rem;
	padding: 0.25em 0;
}