// grid 1/5

$media-sm: 576px !default;
$media-md: 768px !default;
$media-lg: 992px !default;
$media-xl: 1200px !default;
$media-hd: 1700px !default;

.col-2-4,
.col-sm-2-4,
.col-md-2-4,
.col-lg-2-4,
.col-xl-2-4 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-2-4 {
  flex: 0 0 20%;
  max-width: 20%;
}
.offset-2-4 {
    margin-left: 20%;
}

@media (min-width: $media-sm) {
    .col-sm-2-4 {
        flex: 0 0 20%;
        max-width: 20%;
    }
    .offset-sm-2-4 {
        margin-left: 20%;
    }
}

@media (min-width: $media-md) {
    .col-md-2-4 {
        flex: 0 0 20%;
        max-width: 20%;
    }
    .offset-md-2-4 {
        margin-left: 20%;
    }
}

@media (min-width: $media-lg) {
    .col-lg-2-4 {
        flex: 0 0 20%;
        max-width: 20%;
    }
    .offset-lg-2-4 {
        margin-left: 20%;
    }
}

@media (min-width: $media-xl) {
    .col-xl-2-4 {
        flex: 0 0 20%;
        max-width: 20%;
    }
    .offset-xl-2-4 {
        margin-left: 20%;
    }
}

@media (min-width: $media-hd) {
    .col-hd-2-4 {
        flex: 0 0 20%;
        max-width: 20%;
    }
    .offset-hd-2-4 {
        margin-left: 20%;
    }
}
