$slick-font-path: "./../assets/slick/fonts/";
$slick-font-family: "slick" !default;
$slick-loader-path: "./../assets/slick/";
$slick-arrow-color: #bbbfbe !default;
$slick-dot-color: black !default;
$slick-dot-color-active: $slick-dot-color !default;
$slick-prev-character: "\2190" !default;
$slick-next-character: "\2192" !default;
$slick-dot-character: "\2022" !default;
$slick-dot-size: 1rem;
$slick-opacity-default: 0.75 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.25 !default;

// @import "../../assets/slick/slick-theme.scss";
