.slider {
    display: flex;
    justify-content: space-between;

    a {
        display: block;
        margin: 0 auto 1rem;
        @include circle();
        @include thumbnail-center(200px, 200px);
        @include scale(120%, 100%);
    }

    .slick-slide, a {
        &:focus {
            outline: none;
        }
    }

    @media screen and (max-width: $media-xl) {
        a {
            width: 150px;
            height: 150px;
        }
    }
}
